body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #ecf0f1;
}

.weather-container {
    background: #34495e;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 450px;
    text-align: center;
    transition: background-color 0.8s ease-in-out; 
    border: 1px solid #4a6372;
}

h1 {
    color: #ecf0f1;
    margin-bottom: 30px;
    font-size: 1.8em;
    font-weight: 300;
}


.weather-container h1, 
.weather-container h2,
.weather-container p,
.weather-container .temperature {
    transition: color 0.8s ease-in-out;
}


.input-group {
    display: flex;
    margin-bottom: 25px;
}

.input-group input[type="text"] {
    padding: 12px;
    flex-grow: 1;
    border: none;
    border-radius: 8px 0 0 8px;
    box-sizing: border-box;
    background-color: #5b748d;
    color: #ecf0f1;
    transition: background-color 0.3s;
}

.input-group input[type="text"]::placeholder {
    color: #bdc3c7;
}

.input-group button {
    padding: 12px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.input-group button:hover {
    background-color: #2980b9;
}

#weather-result {
    margin-top: 20px;
    padding: 25px;
    border: none;
    border-radius: 8px;
    min-height: 150px;
    text-align: left;
    background-color: #4a6372;
    color: #ecf0f1;
}

.weather-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.temperature {
    font-size: 4em;
    color: #e74c3c;
    font-weight: 500;
    margin: 0;
    line-height: 1;
}

.weather-icon {
    width: 90px;
    height: 90px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}

.description {
    font-size: 1.1em;
    color: #bdc3c7;
    margin-top: 15px;
    text-align: center;
}

.error-message, .warning-message {
    color: #e74c3c;
    font-weight: bold;
    text-align: center;
    background-color: #2c3e50;
    padding: 10px;
    border-radius: 4px;
}